* {
  margin: 0;
  padding: 0;
  font-family: "Lucida Console", "Courier New", monospace;
  color: white;
}

#header {
  background-color: black;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container {
  background-color: black;
  height: 70vh;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
  align-items: center;
}

.tile {
  height: 200px;
  width: 200px;
}